name: CI/CD
on:
  push:
    branches:
      - main
      - develop
    tags:
      - "v**"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: true,
      DATABASE_URL: mysql://root:password@127.0.0.1:3306/test
      MASTER_PASSWORD: password
    steps:
      - uses: mirromutth/mysql-action@v1.1
        with:
          host port: 3306
          container port: 3306
          character set server: "utf8mb4"
          collation server: "utf8mb4_bin"
          mysql version: "8"
          mysql database: "test"
          mysql root password: "password"

      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm

      - run: npm ci --ignore-scripts

      - name: Setup Database
        run: npx prisma db push && npx prisma db seed
      - name: Run Lint
        run: npm run lint
      - name: Run Unit Test
        run: npm run test:unit
      - name: Run E2E Test
        run: |
          npm run build
          nohup node .next/standalone/server.js & 
          sleep 5
          npm run test:e2e

  deploy-develop:
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop'
    needs: build
    uses: ./.github/workflows/deploy.yml
    with:
      aws-role-to-assume-arn: ${{ vars.AWS_ROLE_TO_ASSUME_ARN_DEV }}
      apprunner-access-role-arn: ${{ vars.AWS_APPRUNNER_ACCESS_ROLE_ARN_DEV }}
      apprunner-service-name: ${{ vars.AWS_APPRUNNER_SERVICE_NAME }}
      ecr-repository-name: ${{ vars.ECR_REPOSITORY_NAME }}

  deploy-production:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build
    uses: ./.github/workflows/deploy.yml
    with:
      aws-role-to-assume-arn: ${{ vars.AWS_ROLE_TO_ASSUME_ARN_PROD }}
      apprunner-access-role-arn: ${{ vars.AWS_APPRUNNER_ACCESS_ROLE_ARN_PROD }}
      apprunner-service-name: ${{ vars.AWS_APPRUNNER_SERVICE_NAME }}
      ecr-repository-name: ${{ vars.ECR_REPOSITORY_NAME }}
